@font-face {
  font-family: 'Noto Sans CJK tc';
  src: url("/fonts/NotoSansCJKtc-Thin.otf"), url("/fonts/NotoSansCJKtc-Medium.otf"), url("/fonts/NotoSansCJKtc-Bold.otf");
}

@font-face {
  font-family: 'MNgaiHK Bold';
  src: url("/fonts/MNgaiHK-Bold.ttf");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Noto Sans CJK tc';
  font-weight: thin;
}

body {
  padding: 0;
  margin: 0;
}

body #app {
  position: relative;
}

body #app header {
  background-color: #EEEEEE;
  width: 100%;
  height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  z-index: 0;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

@media (max-width: 1280px) {
  body #app header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 991px) {
  body #app header {
    height: 120px;
  }
}

body #app header #logo {
  width: 216.8px;
  height: 61.2px;
  padding: 0;
  font-family: 'MNgaiHK Bold';
  font-size: 83.36px;
  line-height: 61.2px;
  margin: 44px 0px 36px 138px;
}

@media (max-width: 1280px) {
  body #app header #logo {
    margin: 0px 0px 0px 138px;
  }
}

@media (max-width: 991px) {
  body #app header #logo {
    font-size: 63px;
  }
}

@media (max-width: 767px) {
  body #app header #logo {
    font-size: 43px;
  }
}

@media (max-width: 576px) {
  body #app header #logo {
    font-size: 33px;
    margin: 0px 0px 0px 114.5px;
  }
}

@media (max-width: 420px) {
  body #app header #logo {
    margin: 0px 0px 0px 44.5px;
  }
}

body #app header nav {
  margin: 50px 114.5px 0px 0px;
}

@media (max-width: 1280px) {
  body #app header nav {
    margin: 0px 138px 0px 0px;
  }
}

@media (max-width: 576px) {
  body #app header nav {
    margin: 0px 114.5px 0px 0px;
  }
}

@media (max-width: 420px) {
  body #app header nav {
    margin: 0px 44.5px 0px 0px;
  }
}

body #app header nav #hamburger-menu {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: none;
  z-index: 6;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (max-width: 1280px) {
  body #app header nav #hamburger-menu {
    display: block;
  }
}

body #app header nav #hamburger-menu input {
  display: block;
  position: absolute;
  width: 33px;
  height: 25px;
  top: -5px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 4;
}

@media (max-width: 991px) {
  body #app header nav #hamburger-menu input {
    width: 30px;
  }
}

body #app header nav #hamburger-menu input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(-45deg) translate(1px, 6px);
          transform: rotate(-45deg) translate(1px, 6px);
}

body #app header nav #hamburger-menu input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(45deg) translate(-2px, -10px);
          transform: rotate(45deg) translate(-2px, -10px);
}

body #app header nav #hamburger-menu input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

@media (max-width: 991px) {
  body #app header nav #hamburger-menu input:checked ~ span {
    opacity: 1;
    -webkit-transform: rotate(-45deg) translate(2px, 5px);
            transform: rotate(-45deg) translate(2px, 5px);
  }
}

body #app header nav #hamburger-menu span {
  display: block;
  position: relative;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  background-color: black;
  border-radius: 3px;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

body #app header nav #hamburger-menu span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

body #app header nav #hamburger-menu span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

@media (max-width: 991px) {
  body #app header nav #hamburger-menu span {
    width: 28px;
    height: 3px;
  }
}

body #app header nav #nav-buttons, body #app header nav #nav-links {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body #app header nav #nav-buttons {
  width: 131px;
  height: 23px;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  cursor: pointer;
}

@media (max-width: 1280px) {
  body #app header nav #nav-buttons {
    position: absolute;
    -webkit-transform: translateZ(-10px);
            transform: translateZ(-10px);
    top: 103px;
    left: 75%;
  }
}

@media (max-width: 991px) {
  body #app header nav #nav-buttons {
    top: 88px;
    left: 135px;
  }
}

@media (max-width: 767px) {
  body #app header nav #nav-buttons {
    top: 88px;
  }
}

@media (max-width: 767px) {
  body #app header nav #nav-buttons {
    -webkit-transition: .5s linear;
    transition: .5s linear;
    top: calc(-1000% + 320px);
  }
}

body #app header nav #nav-buttons .facebook {
  margin-right: 12px;
}

body #app header nav #nav-buttons .line {
  margin-right: 16px;
}

body #app header nav #nav-buttons #login-button {
  width: 56px;
  height: 24px;
  padding: 6px 0px 5px;
  background-color: black;
  font-size: 14px;
  line-height: 13px;
  font-weight: bold;
  color: white;
  text-align: center;
}

body #app header nav .nav-buttons-active {
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

@media (max-width: 1280px) {
  body #app header nav .nav-buttons-active {
    top: 153px !important;
  }
}

@media (max-width: 991px) {
  body #app header nav .nav-buttons-active {
    top: 168px !important;
  }
}

@media (max-width: 767px) {
  body #app header nav .nav-buttons-active {
    -webkit-transition: .5s linear;
    transition: .5s linear;
    top: 320px !important;
  }
}

body #app header nav #nav-links {
  padding-left: 11.5px;
  width: 530px;
  height: 17px;
  margin: 16px 0px 33px auto;
}

@media (max-width: 1280px) {
  body #app header nav #nav-links {
    width: 100%;
    height: 50px;
    padding: 15px 135px;
    position: absolute;
    z-index: -1;
    margin: 0;
    top: 90px;
    left: 0%;
    -webkit-transition: .3s linear;
    transition: .3s linear;
    background-color: lightgrey;
    -webkit-transform: translateZ(-10px);
            transform: translateZ(-10px);
  }
}

@media (max-width: 991px) {
  body #app header nav #nav-links {
    height: 95px;
    padding: 15px 135px 60px;
    top: 25px;
  }
}

@media (max-width: 767px) {
  body #app header nav #nav-links {
    padding: 30px 135px 15px;
    top: -1000%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: .5s linear;
    transition: .5s linear;
    position: fixed;
  }
}

body #app header nav #nav-links .nav-link {
  border-left: 1px solid black;
  list-style: none;
  font-size: 18px;
  line-height: 18px;
  padding: 0px 19px;
  position: relative;
}

body #app header nav #nav-links .nav-link:last-child {
  border-right: 1px solid black;
}

body #app header nav #nav-links .nav-link span {
  cursor: pointer;
}

body #app header nav #nav-links .nav-link span:hover {
  color: #00B6C4;
  font-weight: 600;
}

@media (max-width: 1280px) {
  body #app header nav #nav-links .nav-link {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  body #app header nav #nav-links .nav-link {
    border-left: 4px solid black;
    padding-left: 10px;
    margin-bottom: 10px;
  }
  body #app header nav #nav-links .nav-link:last-child {
    border-right: none;
  }
}

body #app header nav #nav-links .nav-link .floating-options {
  width: 115px;
  height: 88px;
  padding: 20px 30px 15px;
  background-color: black;
  position: absolute;
  top: calc(100% + 33px);
  left: -1px;
  color: white;
}

@media (max-width: 1280px) {
  body #app header nav #nav-links .nav-link .floating-options {
    top: 33px;
  }
}

body #app header nav #nav-links .nav-link .floating-options ul {
  margin: 0;
  padding: 0;
}

body #app header nav #nav-links .nav-link .floating-options ul li {
  padding: 0;
  width: 54px;
  height: 18px;
  font-size: 18px;
  line-height: 18px;
  list-style: none;
  cursor: pointer;
}

body #app header nav #nav-links .nav-link .floating-options ul li:first-child {
  margin-bottom: 13px;
}

body #app header nav .nav-links-active {
  top: 140px !important;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

@media (max-width: 991px) {
  body #app header nav .nav-links-active {
    top: 120px !important;
  }
}

@media (max-width: 767px) {
  body #app header nav .nav-links-active {
    top: 100% !important;
  }
}

body #app main {
  padding-top: 140px;
  position: relative;
  z-index: -2;
}

@media (max-width: 991px) {
  body #app main {
    padding-top: 120px;
  }
}

body #app main #circle-items-area {
  width: 100%;
  height: 350px;
}

body #app main #circle-items-area #carousel-block {
  position: relative;
  width: 1440px;
  height: 350px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
  left: 50%;
  overflow: hidden;
}

@media (max-width: 1440px) {
  body #app main #circle-items-area #carousel-block {
    width: 1108px;
  }
}

@media (max-width: 1280px) {
  body #app main #circle-items-area #carousel-block {
    width: 728px;
  }
}

@media (max-width: 991px) {
  body #app main #circle-items-area #carousel-block {
    width: 348px;
  }
}

body #app main #circle-items-area #carousel-block #carousel-list {
  position: absolute;
  width: 1440px;
  height: 350px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 60px;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  top: 50%;
  left: 50%;
}

@media (max-width: 1440px) {
  body #app main #circle-items-area #carousel-block #carousel-list {
    left: 720px;
  }
}

body #app main #circle-items-area #carousel-block #carousel-list .circle-item {
  width: 228.2px;
  height: 228.2px;
  border-radius: 228.2px;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  line-height: 24px;
}

body #app main #list-area {
  width: 100%;
  height: 565px;
  padding: 53px 0px;
  background-color: #EEEEEE;
}

body #app main #list-area #card {
  width: 1280px;
  height: 458px;
  margin: auto;
}

@media (max-width: 1280px) {
  body #app main #list-area #card {
    width: 728px;
  }
}

@media (max-width: 991px) {
  body #app main #list-area #card {
    width: 348px;
  }
}

body #app main #list-area #card #card-head {
  width: 100%;
  height: 94px;
  padding: 0px 40px 0px 32px;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #app main #list-area #card #card-head .head-title {
  display: inline-block;
  color: white;
  font-size: 24px;
  line-height: 24px;
  width: 52px;
  margin-right: 25px;
}

@media (max-width: 1280px) {
  body #app main #list-area #card #card-head .head-title {
    width: 62px;
  }
}

@media (max-width: 991px) {
  body #app main #list-area #card #card-head .head-title {
    width: 72px;
  }
}

body #app main #list-area #card #card-head .decorative-line {
  width: 100%;
  border-top: 1px solid white;
}

body #app main #list-area #card #card-body {
  width: 100%;
  height: calc(100% - 94px);
  padding: 0px 40px 0px 32px;
  border: 1px solid black;
}

body #app main #list-area #card #card-body #item-list {
  margin: 0;
  padding: 0;
}

body #app main #list-area #card #card-body #item-list .title-item, body #app main #list-area #card #card-body #item-list .item {
  list-style: none;
  width: 100%;
  height: 60px;
  padding: 0px 104px 0px 18px;
  border-bottom: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  line-height: 24px;
}

@media (max-width: 1280px) {
  body #app main #list-area #card #card-body #item-list .title-item, body #app main #list-area #card #card-body #item-list .item {
    padding: 0px 54px 0px 18px;
  }
}

@media (max-width: 991px) {
  body #app main #list-area #card #card-body #item-list .title-item, body #app main #list-area #card #card-body #item-list .item {
    font-size: 18px;
  }
}

@media (max-width: 991px) {
  body #app main #list-area #card #card-body #item-list .title-item {
    padding: 0px 24px 0px 18px;
  }
}

@media (max-width: 991px) {
  body #app main #list-area #card #card-body #item-list .item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    cursor: pointer;
    height: 80px;
    padding: 10px 24px 10px 18px;
  }
}

body #app main #list-area #card #card-body #item-list .item-id {
  width: 25px;
  margin-right: 85px;
}

@media (max-width: 991px) {
  body #app main #list-area #card #card-body #item-list .item-id {
    margin-right: 45px;
  }
}

body #app main #list-area #card #card-body #item-list .item-date {
  width: 65px;
  margin-right: 165px;
}

@media (max-width: 1280px) {
  body #app main #list-area #card #card-body #item-list .item-date {
    width: 55px;
    margin-right: 135px;
  }
}

@media (max-width: 991px) {
  body #app main #list-area #card #card-body #item-list .item-date {
    margin-right: 0px;
  }
}

body #app main #list-area #card #card-body #item-list .mobile-title {
  display: none;
}

@media (max-width: 991px) {
  body #app main #list-area #card #card-body #item-list .mobile-title {
    display: inline-block;
  }
}

@media (max-width: 991px) {
  body #app main #list-area #card #card-body #item-list .item-event {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    display: block;
  }
}

body #app main #list-area #card #card-body #item-list .item-action {
  margin-left: auto;
}

@media (max-width: 991px) {
  body #app main #list-area #card #card-body #item-list .event-title {
    display: none;
  }
}

body #app main #list-area #card #card-body #item-list .delete-title {
  width: 75ppx;
  margin-right: 15px;
}

body #app main #list-area #card #card-body #item-list .action-button {
  width: 69px;
  height: 32px;
  border: 1px solid black;
  font-size: 16px;
  text-align: center;
  line-height: 30px;
}

body #app main #img-links-area {
  width: 1280px;
  padding: 90px 0px 85px 75px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1440px) {
  body #app main #img-links-area {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 1280px) {
  body #app main #img-links-area {
    width: 100%;
    padding: 90px 0px 85px 0px;
  }
}

@media (max-width: 991px) {
  body #app main #img-links-area {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

body #app main #img-links-area #img-links-list {
  padding: 0;
  margin: 0;
  width: 782px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1280px) {
  body #app main #img-links-area #img-links-list {
    width: 474px;
    margin: auto;
  }
}

@media (max-width: 991px) {
  body #app main #img-links-area #img-links-list {
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  body #app main #img-links-area #img-links-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 350px;
    margin-bottom: 30px;
  }
}

body #app main #img-links-area #img-links-list .img-link {
  width: 220px;
  height: 220px;
  background-color: black;
  list-style: none;
}

@media (max-width: 1280px) {
  body #app main #img-links-area #img-links-list .img-link {
    margin-bottom: 30px;
  }
}

body #app main #img-links-area #img-links-list .img-link img {
  width: 100%;
}

body #app main #img-links-area #introduction-block {
  width: 350px;
  height: 500px;
  border: 1px solid black;
  padding: 43px 30px 0px 37px;
}

@media (max-width: 1280px) {
  body #app main #img-links-area #introduction-block {
    margin: auto;
  }
}

body #app main #img-links-area #introduction-block h1 {
  font-size: 50px;
  font-weight: 500;
  line-height: 50px;
  margin-bottom: 35px;
}

body #app main #img-links-area #introduction-block p {
  width: 288px;
  font-size: 18px;
  line-height: 18px;
}

body #app footer {
  width: 100%;
  height: 100px;
  text-align: center;
  font-size: 18px;
  line-height: 100px;
  background-color: #EEEEEE;
}
/*# sourceMappingURL=style.css.map */