<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>切版 RWD 測驗</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
</head>

<body>
    <div id="app">
        <header>
            <div id="logo">
                LOGO
            </div>
            <nav>
                <div id="nav-buttons">
                    <div class="nav-button communit-button" v-for="communityButton in communityButtons">
                        <img :src="communityButton.src" alt="">
                    </div>
                    <div id="login-button" class="nav-button">
                        登入
                    </div>
                </div>
                <ul id="nav-links">
                    <li v-for="(link, index) in navLinks" class="nav-link"
                        @click="index == 4 && !floatingOptions.show ? floatingOptions.show = true : floatingOptions.show = false">
                        <span>{{ link }}</span>
                        <div v-if="index  == 4" v-show="floatingOptions.show" class="floating-options">
                            <ul>
                                <li v-for="floatingOption in floatingOptions.content">{{ floatingOption }}</li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <div id="circle-items-area">
                <div id="carousel-block">
                    <ul id="carousel-list">
                        <li class="circle-item" v-for="circleItem in circleItems">
                            {{ circleItem }}
                        </li>
                    </ul>
                </div>
            </div>
            <div id="list-area">
                <div id="card">
                    <div id="card-head">
                        <span class="head-title">項目</span>
                        <span class="decorative-line"></span>
                    </div>
                    <div id="card-body">
                        <ul id="item-list">
                            <li v-for="(listItem, index) in listItems" :class="index == 0 ? 'title' : 'item'">
                                <span class="item-id">{{ listItem.ID }}</span>
                                <span class="item-date">{{ listItem.date }}</span>
                                <div class="mobile-collapse">
                                    <span class="item-event">{{ listItem.event }}</span>
                                    <span v-if="index == 0" class="item-action delete-title">{{ listItem.action
                                        }}</span>
                                    <div v-else class="item-action action-button">{{ listItem.action }}</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="img-links-area">
                <ul id="img-links-list">
                    <li class="img-link" v-for="(imgLink, index) in imgLinks" @click="switchIntroduction(index)">
                        <img :src="officialURL + imgLink.url" :alt="imgLink.alt">
                    </li>
                </ul>
                <div id="introduction-block">
                    <h1>{{ currentIntroduction.title }}</h1>
                    <p v-html="currentIntroduction.note"></p>
                </div>
            </div>
            <footer>
                FOOTER
            </footer>
        </main>
    </div>

    <script src="/js/main.js"></script>
</body>

</html>